<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <PathfindingAvoidance.ModName>Pathfinding Avoidance</PathfindingAvoidance.ModName>

  <PathfindingAvoidance.GeneralCosts>General costs</PathfindingAvoidance.GeneralCosts>
  <PathfindingAvoidance.GeneralCostsTooltip>Costs that apply to most cases - colony members, friendly visitors.</PathfindingAvoidance.GeneralCostsTooltip>

  <PathfindingAvoidance.ColonyCosts>Colony pawns costs</PathfindingAvoidance.ColonyCosts>
  <PathfindingAvoidance.ColonyCostsTooltip>Costs that apply to colony pawns (colonists, mechs, etc. but not animals).</PathfindingAvoidance.ColonyCostsTooltip>

  <PathfindingAvoidance.FriendlyCosts>Friendly pawns costs</PathfindingAvoidance.FriendlyCosts>
  <PathfindingAvoidance.FriendlyCostsTooltip>Costs that apply to friendly pawns, such as visiting trade caravans.</PathfindingAvoidance.FriendlyCostsTooltip>

  <PathfindingAvoidance.ExtraCostTooltip>The higher the number, the more pawns will try to avoid such cells.\n\nDefault value: {0}</PathfindingAvoidance.ExtraCostTooltip>

  <PathfindingAvoidance.DirtyCost>Extra cost for filth-producing cells: {0}</PathfindingAvoidance.DirtyCost>
  <PathfindingAvoidance.DirtyCostTooltip>Additional perceived cost for using terrain that produces filth.</PathfindingAvoidance.DirtyCostTooltip>

  <PathfindingAvoidance.WeatherCost>Extra cost for cells with bad weather: {0}</PathfindingAvoidance.WeatherCost>
  <PathfindingAvoidance.WeatherCostTooltip>Additional perceived cost for using unroofed cells during bad weather.</PathfindingAvoidance.WeatherCostTooltip>

  <PathfindingAvoidance.SideDoorCost>Extra cost for side door: {0}</PathfindingAvoidance.SideDoorCost>
  <PathfindingAvoidance.SideDoorCostTooltip>Additional perceived cost for using door that has the 'Side Door' priority set.</PathfindingAvoidance.SideDoorCostTooltip>
  <PathfindingAvoidance.EmergencyDoorCost>Extra cost for emergency door: {0}</PathfindingAvoidance.EmergencyDoorCost>
  <PathfindingAvoidance.EmergencyDoorCostTooltip>Additional perceived cost for using door that has the 'Emergency Door' priority set.</PathfindingAvoidance.EmergencyDoorCostTooltip>

  <PathfindingAvoidance.AreaAvoidLowCost>Extra cost for "Path Avoid Low" area cells: {0}</PathfindingAvoidance.AreaAvoidLowCost>
  <PathfindingAvoidance.AreaAvoidLowCostTooltip>Additional perceived cost for walking in areas marked "Path Avoid Low".</PathfindingAvoidance.AreaAvoidLowCostTooltip>

  <PathfindingAvoidance.AreaAvoidMediumCost>Extra cost for "Path Avoid Medium" area cells: {0}</PathfindingAvoidance.AreaAvoidMediumCost>
  <PathfindingAvoidance.AreaAvoidMediumCostTooltip>Additional perceived cost for walking in areas marked "Path Avoid Medium".</PathfindingAvoidance.AreaAvoidMediumCostTooltip>

  <PathfindingAvoidance.AreaAvoidHighCost>Extra cost for "Path Avoid High" area cells: {0}</PathfindingAvoidance.AreaAvoidHighCost>
  <PathfindingAvoidance.AreaAvoidHighCostTooltip>Additional perceived cost for walking in areas marked "Path Avoid High".</PathfindingAvoidance.AreaAvoidHighCostTooltip>

  <PathfindingAvoidance.GrowingZoneCost>Extra cost for growing zone cells: {0}</PathfindingAvoidance.GrowingZoneCost>
  <PathfindingAvoidance.GrowingZoneCostTooltip>Additional perceived cost for walking on growing zones.</PathfindingAvoidance.GrowingZoneCostTooltip>

  <PathfindingAvoidance.VisitingCaravanOutdoorsRoomCost>Extra cost for outdoor room cells: {0}</PathfindingAvoidance.VisitingCaravanOutdoorsRoomCost>
  <PathfindingAvoidance.VisitingCaravanOutdoorsRoomCostTooltip>Additional perceived cost for using outdoor room.</PathfindingAvoidance.VisitingCaravanOutdoorsRoomCostTooltip>
  <PathfindingAvoidance.VisitingCaravanIndoorRoomCost>Extra cost for indoor room cells: {0}</PathfindingAvoidance.VisitingCaravanIndoorRoomCost>
  <PathfindingAvoidance.VisitingCaravanIndoorRoomCostTooltip>Additional perceived cost for using indoor room.</PathfindingAvoidance.VisitingCaravanIndoorRoomCostTooltip>

</LanguageData>
