<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <PathfindingAvoidance.ModName>Pathfinding Avoidance</PathfindingAvoidance.ModName>

  <PathfindingAvoidance.GeneralCosts>General costs</PathfindingAvoidance.GeneralCosts>
  <PathfindingAvoidance.GeneralCostsTooltip>Costs that apply to most cases - colony members, friendly visitors.</PathfindingAvoidance.GeneralCostsTooltip>

  <PathfindingAvoidance.ColonyCosts>Colony pawns costs</PathfindingAvoidance.ColonyCosts>
  <PathfindingAvoidance.ColonyCostsTooltip>Costs that apply to colony pawns (colonists, mechs, etc. but not animals).</PathfindingAvoidance.ColonyCostsTooltip>

  <PathfindingAvoidance.FriendlyCosts>Friendly pawns costs</PathfindingAvoidance.FriendlyCosts>
  <PathfindingAvoidance.FriendlyCostsTooltip>Costs that apply to friendly pawns, such as visiting trade caravans.</PathfindingAvoidance.FriendlyCostsTooltip>

  <PathfindingAvoidance.DirtyCost>Extra cost for filth-producing tiles: {0}</PathfindingAvoidance.DirtyCost>
  <PathfindingAvoidance.DirtyCostTooltip>Additional perceived cost for using terrain that produces filth. The higher the number, the more friendly pawns will try to avoid such terrain.</PathfindingAvoidance.DirtyCostTooltip>

  <PathfindingAvoidance.SideDoorCost>Extra cost for side door: {0}</PathfindingAvoidance.SideDoorCost>
  <PathfindingAvoidance.SideDoorCostTooltip>Additional perceived cost for using door that has the 'Side Door' priority set. The higher the number, the more friendly pawns will try to avoid the door.</PathfindingAvoidance.SideDoorCostTooltip>
  <PathfindingAvoidance.EmergencyDoorCost>Extra cost for emergency door: {0}</PathfindingAvoidance.EmergencyDoorCost>
  <PathfindingAvoidance.EmergencyDoorCostTooltip>Additional perceived cost for using door that has the 'Emergency Door' priority set. The higher the number, the more friendly pawns will try to avoid the door.</PathfindingAvoidance.EmergencyDoorCostTooltip>

  <PathfindingAvoidance.GrowingZoneCost>Extra cost for growing zone tiles: {0}</PathfindingAvoidance.GrowingZoneCost>
  <PathfindingAvoidance.GrowingZoneCostTooltip>Additional perceived cost for walking on growing zones. The higher the number, the more friendly pawns will try to avoid the door.</PathfindingAvoidance.GrowingZoneCostTooltip>

  <PathfindingAvoidance.VisitingCaravanOutdoorsRoomCost>Extra cost for outdoor room tiles: {0}</PathfindingAvoidance.VisitingCaravanOutdoorsRoomCost>
  <PathfindingAvoidance.VisitingCaravanOutdoorsRoomCostTooltip>Additional perceived cost for using outdoor room. The higher the number, the more friendly pawns will try to avoid such rooms.</PathfindingAvoidance.VisitingCaravanOutdoorsRoomCostTooltip>
  <PathfindingAvoidance.VisitingCaravanIndoorRoomCost>Extra cost for indoor room tiles: {0}</PathfindingAvoidance.VisitingCaravanIndoorRoomCost>
  <PathfindingAvoidance.VisitingCaravanIndoorRoomCostTooltip>Additional perceived cost for using indoor room. The higher the number, the more friendly pawns will try to avoid such rooms.</PathfindingAvoidance.VisitingCaravanIndoorRoomCostTooltip>

</LanguageData>
